.App {
    padding: 20px 10px;
    min-width: 500px;

    &-button-wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 10px;
    }
}
.enabled {
    background-color: green;
}

.disabled {
    background-color: gray;
}

ul {
    padding: 0;

    &.active {
        li {
            cursor: pointer;
            &:hover {
                background-color: lawngreen;
            }
        }
    }

    li {
        list-style: none;
    }
}
